/* fonts */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/le-layout/fonts/open-sans-v29-latin_cyrillic-regular.woff2') format('woff2'), 
       url('/le-layout/fonts/open-sans-v29-latin_cyrillic-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('/le-layout/fonts/open-sans-v29-latin_cyrillic-500.woff2') format('woff2'), 
       url('/le-layout/fonts/open-sans-v29-latin_cyrillic-500.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('/le-layout/fonts/open-sans-v29-latin_cyrillic-600.woff2') format('woff2'), 
       url('/le-layout/fonts/open-sans-v29-latin_cyrillic-600.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/le-layout/fonts/open-sans-v29-latin_cyrillic-700.woff2') format('woff2'), 
       url('/le-layout/fonts/open-sans-v29-latin_cyrillic-700.woff') format('woff'); 
}

/* basic */

:root {
  --white: #FFFFFF;
  --light-grey: #F0F0F0;
  --grey: #C0C0C0;
  --dark-grey: #888888;
  --light-black: #111111;
  --red: #CB0000;
  --dark-red: #aa0202;
  --blue: #011477;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--light-grey);
}

h1 {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  border-radius: 4px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.body-scroll-off {
  overflow: hidden;
}

.body-offset {
  margin-right: 17px;
}

/* header */

.header {
  margin-bottom: 30px;
  height: 90px;
  min-height: 90px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
  width: 100%;
}

.header__all-download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: fit-content;
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--blue);
}

.header__all-download-btn span {
  font-size: 19px;
  line-height: 100%;
  font-weight: 400;
  color: var(--white);
}

.all-download-link__icon {
  margin-top: -5px;
  margin-left: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.all-download-link__icon > svg {
  width: 100%;
  height: 100%;
}

.all-download-link__icon > svg > path {
  stroke: var(--white);
}

/* main */

.main {
  flex: 1;
  background-color: var(--light-grey);
}

.section__layout {
  width: 100%;
}

.section-heading {
  margin-bottom: 35px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  line-height: 100%;
  font-weight: 700;
  color: var(--light-black);
  cursor: pointer;
}

.layout__page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  width: 100%;
  height: fit-content;
  background-color: var(--white);
  border-radius: 4px;
}

.page__img-wrapper {
  width: 100%;
  height: fit-content;
}

.page__img {
  width: 100%;
  object-fit: none;
  cursor: pointer;
}

.page__img body {
  background-color: #011477;
}

.page__img:hover {
  filter: brightness(0.9);
}

.layout__description {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: var(--dark-grey);
}

/* notice *//* modal-window */

.notice__modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: rgba(34, 60, 80, 0.7);
}

.notice__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: fit-content;
  padding: 30px;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  box-shadow: 0px 0px 15px 1px rgba(4, 6, 8, 0.8);
  border-radius: 4px;
}

.modal__description {
  margin-bottom: 25px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  color: var(--light-black);
}

.modal__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: fit-content;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--blue);
}

.modal__btn span {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: var(--white);
}

/* footer */

.footer {
  height: 80px;
  min-height: 80px;
  width: 100%;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100%;
}

.footer__privacy {
  font-size: 19px;
  line-height: 100%;
  font-weight: 400;
  color: var(--light-black);
}

/* @media *//* @media *//* @media *//* @media */
/* @media *//* @media *//* @media *//* @media */
/* @media *//* @media *//* @media *//* @media */

@media (min-width:1200px) {   /* :hover and :active для desktop */

  /* header */

  .header__all-download-btn {
    transition: background-color 0.1s;
  }

  .header__all-download-btn span {
    transition: color 0.1s;
  }

  .header__all-download-btn:hover {
    background-color: var(--red);
  }

  .header__all-download-btn:active {
    background-color: var(--dark-red);
  }

  /* notice *//* modal-window */

  .modal__btn:hover {
    background-color: var(--red);
  }

  .modal__btn:active {
    background-color: var(--dark-red);
  }

}

@media (max-width:1199.98px) {   /* :active для mobile */

  /* header */

  .header__all-download-btn:active {
    background-color: var(--red);
  }

  /* notice *//* modal-window */

  .modal__btn:active {
    background-color: var(--red);
  }

}

@media (min-width:576px) and (max-width: 767.98px) {

  /* main */

  .layout__page {
    padding: 40px;
  }

}

@media (min-width:320px) and (max-width: 575.98px) {

  /* header */

  .header {
    margin-bottom: 30px;
    height: 80px;
    min-height: 80px;
  }

  .header__all-download-btn {
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .header__all-download-btn span {
    font-size: 16px;
  }

  .all-download-link__icon {
    margin-top: -2px;
    margin-left: 15px;
    width: 17px;
    height: 17px;
  }

  /* main */

  .section-heading {
    margin-bottom: 30px;
    font-size: 22px;
  }

  .layout__page {
    padding: 25px;
  }

  .img-download-link__icon {
    margin-top: 1px;
    width: 17px;
    height: 17px;
  }

  /* footer */

  .footer__privacy {
    font-size: 16px;
  }

}

@media (min-width:320px) and (max-width: 450px) {

  /* header */

  .header__all-download-btn {
    width: 100%;
  }

}

@media (max-width: 430px) {

  /* notice *//* modal-window */

  .notice__modal {
    width: calc(100% - 30px);
  }

}

@media (max-width: 360px) {

  /* notice *//* modal-window */

  .modal__btn {
    width: 100%;
  }

}
